#parent {
  text-align: center;
  height: 500px;
  width: 1000px;
}
.block {
  height: 300px;
  width: 500px;
  text-align: left;
}
.center {
  margin: auto;
}
.left {
  margin: auto auto auto 0;
}
.right {
  margin: auto 0 auto auto;
}
